<h1>Hecker N3WS</h1>
<a href="/links" style="border: 3px solid white; padding: 10px 20px; background: grey; border-radius: 10px;">View All Links</a>
<a href='/signup' style="border: 3px solid white; padding: 10px 20px; background: grey; border-radius: 10px;">Signup</a>
<a href='/login' style="border: 3px solid white; padding: 10px 20px; background: grey; border-radius: 10px;">Login</a>
<a href='/logout' style="border: 3px solid white; padding: 10px 20px; background: grey; border-radius: 10px;">Logout</a>