<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hecker N3WS</title>
</head>
    <style>
        body{
            text-align: center;
            background: #555;
            color: white;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        body a{
            color: white;
            text-decoration: none;
        }
        body a:visited{
            color: white;
        }
        body a:hover{
            color: lightblue;
            text-decoration: underline;
        }
        h1{
            font-size: 80px;
            text-decoration: underline,
        }

        li{
            list-style: none;
            padding-right: 40px;
        }
    </style>
<body>
    {{{body}}}
</body>
</html>