<h1>NEW</h1>
<form action="/links" method="POST">
    <label for="Title">Title:</label>
    <br>
    <input type="text" name="title">
    <br>
    <label for="url">Url:</label>
    <br>
    <input type="text" name="url">
    <br>
    <label for="description">Description:</label>
    <br>
    <input type="text" name="description">
    <br>
    <label for="date">Date:</label>
    <br>
    <input type="text" name="upload_date" value="{{b}}">
    <br>
    <input type="submit" value="Make">
</form>